<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

{% include joa_head.html %}
<style>
body {
  width: 100%;
  height: 100vh;
  background: url("https://upload.wikimedia.org/wikipedia/commons/5/50/Scripps_Institution_of_Oceanography%2C_2011.JPG") top center;
  background-size: cover;
  position: relative;
}
.body:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
</style>
  <body>

{% include header.html %}

{{content}}

{% include footer.html %}

  </body>
</html>
